 <mat-toolbar color="default">
    <mat-card-title style="text-align: center">{{description}}</mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>

 <div fxLayout="row" fxLayoutGap="16px">
   <a mat-raised-button routerLink="">Role</a>
   <a mat-raised-button routerLink="/userofrole">Edit users of a role</a>
   <a mat-raised-button routerLink="/roleofuser">Edit roles of a user</a>
 </div>

  <mat-card class="card-demo">

    <mat-card-content style="padding: 10px">
      <div class="containerX" style="border: 1px solid gray">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
          <div fxFlex = "60" style="border: 1px solid gray;padding: 5px">
              <div fxLayout="row" fxLayoutGap="16px">
                  <button mat-icon-button color="primary" (click)="addNew()">
                    <button mat-raised-button color="primary">New Role</button>
                  </button>
              </div>
            <div class="container" fxLayoutAlign="center" [style.display]="id != -2 ? '' : 'none'">
              <!--Input box-->
              <form class="role-form"  (ngSubmit)="onSumbit()" #formControl="ngForm">
                <div class="form">
                  <mat-form-field color="accent">
                    <input matInput #inputstate class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required >
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <!--Textarea for demo purposes-->
                <div class="form">
                  <mat-form-field color="accent">
                    <textarea matInput #input class="form-control" placeholder="Description" [(ngModel)]="data.description" name="description" required ></textarea>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column" style="border: 1px solid gray;padding: 10px;margin: 7px;">
                  <div class="container mat-elevation-z8">
                    <div class="form">
                      <mat-form-field floatPlaceholder="never" color="accent">
                        <input matInput #a_filter placeholder="Section Search">
                      </mat-form-field>
                    </div>
                  </div>

                  <mat-table #a_sort="matSort" [dataSource]="addedDataSource" matSort class="mat-cell">

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="critical">
                      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button mat-icon-button [style.display]="row.action != 0 ? '' : 'none'">
                        <mat-icon title="Critical Section">warning</mat-icon>
                      </button></mat-cell>
                    </ng-container>

                    <!-- actions -->
                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef>
                      </mat-header-cell>

                      <mat-cell *matCellDef="let row; let i=index1;">
                        <button mat-icon-button (click)="remove(i, row)" title="Remove">
                          <mat-icon aria-label="remove_circle_outline">remove_circle_outline</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedCriticalColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedCriticalColumns;"></mat-row>
                  </mat-table>

                  <div class="no-results" [style.display]="addedDataSource.renderedData1.length == 0 ? '' : 'none'">
                    No added sections
                  </div>

                  <mat-paginator #a_paginator
                                 [length]="addedDataSource.filteredData1.length"
                                 [pageIndex]="0"
                                 [pageSize]="5"
                                 [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>

                </div>
                <div fxLayout="column" style="border: 1px solid gray;padding: 10px;margin: 7px;">
                  <div class="form">
                    <mat-form-field floatPlaceholder="never" color="accent">
                      <input matInput #a_u_filter placeholder="User Search">
                    </mat-form-field>
                  </div>

                  <mat-table #a_u_sort="matSort" [dataSource]="addedUsersDataSource" matSort class="mat-cell">

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                    </ng-container>

                    <!-- actions -->
                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef>
                      </mat-header-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
                  </mat-table>


                  <div class="no-results" [style.display]="addedUsersDataSource.renderedData.length == 0 ? '' : 'none'">
                    No added users
                  </div>

                  <mat-paginator #a_u_paginator
                                 [length]="addedUsersDataSource.filteredData.length"
                                 [pageIndex]="0"
                                 [pageSize]="5"
                                 [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
                <div fxLayout="column" fxLayoutAlign="center">
                  <button mat-raised-button color="default" style="margin: 5px 30px;border: 1px solid gray;border-radius: 1px" [type]="submit" [disabled]="!formControl.valid" >Save</button>
                </div>
              </form>
            </div>
          </div>
          <div fxFlex = "60">
            <div class="container" fxLayoutGap.md="0" style="border: 1px solid gray;padding: 10px;overflow-x: scroll;">

              <div class="form">
                <mat-form-field floatPlaceholder="never" color="accent">
                  <input matInput #filter placeholder="Role Search">
                </mat-form-field>
              </div>

              <mat-table #r_sort="matSort" [dataSource]="dataSource" matSort class="mat-cell">

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="critical">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button [style.display]="row.action != 1 ? 'none' : ''">
                      <mat-icon title="Critical Section">warning</mat-icon>
                    </button></mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef>
                  </mat-header-cell>

                  <mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button (click)="startEdit(i, row.id, row.name, row.description)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button (click)="deleteItem(i, row.id, row.name, row.description)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedCriticalColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedCriticalColumns;"></mat-row>
              </mat-table>

              <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No results
              </div>

              <mat-paginator #r_paginator
                             [length]="dataSource.filteredData.length"
                             [pageIndex]="0"
                             [pageSize]="5"
                             [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
            <div fxLayout="column" style="border: 1px solid gray;padding: 10px;margin: 7px;" [style.display]="id != -2 ? '' : 'none'">
              <div class="container mat-elevation-z8">
                <div class="form">
                  <mat-form-field floatPlaceholder="never" color="accent">
                    <input matInput #n_filter placeholder="Section Search">
                  </mat-form-field>
                </div>
              </div>

              <mat-table #n_sort="matSort" [dataSource]="newDataSource" matSort class="mat-cell">

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="critical">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button [style.display]="row.action != 0 ? '' : 'none'">
                      <mat-icon title="Critical Section">warning</mat-icon>
                    </button></mat-cell>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef>
                  </mat-header-cell>

                  <mat-cell *matCellDef="let row; let i=index2;">
                    <button mat-icon-button (click)="add(i, row)" title="Add">
                      <mat-icon aria-label="add_circle_outline">add_circle_outline</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedCriticalColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedCriticalColumns;"></mat-row>
              </mat-table>

              <div class="no-results" [style.display]="newDataSource.renderedData2.length == 0 ? '' : 'none'">
                No new sections
              </div>

              <mat-paginator #n_paginator
                             [length]="newDataSource.filteredData2.length"
                             [pageIndex]="0"
                             [pageSize]="5"
                             [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer style="width:95%">
    </mat-card-footer>
  </mat-card>

 <ngx-spinner
   bdColor="rgba(51,51,51,0.8)"
   size="medium"
   color="#fff"
   type="ball-scale-multiple">
   <p style="font-size: 20px; color: white">Please wait...</p>
 </ngx-spinner>
