<div fxLayout="row wrap" fxFlexAlign="center" class="row">
  <div fxFlex.gt-sm="100" fxFlex="100" class="p-10" style="padding: 20px">
      <mat-card style="height: 95vh">
          <mat-card-content>
            <div fxLayout fxLayoutAlign="center center" *ngIf="userType == '1'">
              <mat-form-field fxFlex="100%" appearance="outline">
                <mat-label>Search</mat-label>
                  <input matInput (keyup)="doFilter($event.target.value)" placeholder="Search">
                <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
              </mat-form-field>
            </div>
            <div style="overflow: auto;width: 100%;">
              <table mat-table [dataSource]="dataSource" matSort *ngIf="userType == '1'">
                  <ng-container matColumnDef="main">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                      <td mat-cell *matCellDef="let row" style="background: white">
                          <mat-accordion class="example-headers-align">
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    <span class="span-key">Key name: </span> {{ row.name }}
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    {{ row.building }}
                                    <mat-icon *ngIf="row.isSpecial" style="color: green">vpn_key</mat-icon>
                                    <mat-icon *ngIf="!row.isSpecial" style="color: gray">vpn_key</mat-icon>
                                  </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                                  <div fxFlex.gt-sm="50" fxFlex="100">
                                      <div fxLayout="row wrap" fxFlexAlign="center" class="row" style="padding: 0 40px">
                                        <div fxFlex.gt-sm="33.33" fxFlex="100"><span class="span-key">room: </span> {{row.room}}</div>
                                        <div fxFlex.gt-sm="33.33" fxFlex="100"><span class="span-key">door name: </span> {{row.door}}</div>
                                        <div fxFlex.gt-sm="33.33" fxFlex="100" *ngIf="row.isSpecial"><span class="span-key">special number: {{row.approver_array.length}}</span></div>
                                      </div>
                                    </div>
                                  <div fxFlex.gt-sm="50" fxFlex="0" class="p-10"></div>
                                </div>
                                
                                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                                  <div fxFlex.gt-sm="50" fxFlex="100" style="padding:0 10px">
                                    <div fxLayout="row wrap" fxFlexAlign="center" class="row" *ngIf="row.isSpecial">
                                      <div fxFlex.gt-sm="50" fxFlex="100">
                                        <mat-form-field fxFlex="100%" appearance="outline" style="margin: 0 10px">
                                          <mat-label>Search</mat-label>
                                            <input matInput (keyup)="filterRow($event.target.value, row)" placeholder="Search">
                                          <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
                                        </mat-form-field>
                                      </div>
                                      <div fxFlex.gt-sm="50" fxFlex="0"></div>
                                      <div fxFlex.gt-sm="100" fxFlex="100">
                                        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="0" [footerHeight]="'auto'" [rowHeight]="'auto'" [limit]="10"
                                          [rows]="row.approver_array" style="margin: 10px">
                                          <ngx-datatable-column prop="content">
                                            <ng-template let-column="column" ngx-datatable-header-template></ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template style="border: 1px solid gray">
                                              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                                                <div fxFlex.gt-sm="33.33" fxFlex="100">{{row.item_text}}</div>
                                                <div fxFlex.gt-sm="33.33" fxFlex="100">{{row.approver}}</div>
                                                <div fxFlex.gt-sm="33.33" fxFlex="100">{{row.date}}</div>
                                              </div>
                                            </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column prop="content">
                                            <ng-template let-column="column" ngx-datatable-header-template></ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template style="border: 1px solid gray">
                                              <p style="text-align: center">{{row.approver}}</p>
                                            </ng-template>
                                          </ngx-datatable-column>
                                        </ngx-datatable>
                                      </div>
                                    </div>
                                  </div>
                                  <div fxFlex.gt-sm="50" fxFlex="100" class="p-10" style="padding:0 10px">
                                      <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                                          <div fxFlex.gt-sm="50" fxFlex="100">
                                            <mat-form-field fxFlex="100%" appearance="outline" style="margin: 0 10px">
                                              <mat-label>Search</mat-label>
                                                <input matInput (keyup)="filterRow($event.target.value, row)" placeholder="Search">
                                              <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
                                            </mat-form-field>
                                          </div>
                                          <div fxFlex.gt-sm="50" fxFlex="0"></div>
                                          <div fxFlex.gt-sm="100" fxFlex="100">
                                            <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="'auto'" [rowHeight]="'auto'" [limit]="10"
                                              [rows]="row.approver_array" style="margin: 10px">
                                              <ngx-datatable-column prop="content">
                                                <ng-template let-column="column" ngx-datatable-header-template>User name</ng-template>
                                                <ng-template let-row="row" ngx-datatable-cell-template style="border: 1px solid gray">
                                                  <p>{{row.item_text}}</p>
                                                </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column prop="content">
                                                <ng-template let-column="column" ngx-datatable-header-template>Date</ng-template>
                                                <ng-template let-row="row" ngx-datatable-cell-template style="border: 1px solid gray">
                                                  <p>{{row.date}}</p>
                                                </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column prop="content">
                                                <ng-template let-column="column" ngx-datatable-header-template>Guard name</ng-template>
                                                <ng-template let-row="row" ngx-datatable-cell-template style="border: 1px solid gray">
                                                  <p>{{row.approver}}</p>
                                                </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column prop="content">
                                                  <ng-template let-column="column" ngx-datatable-header-template>Date</ng-template>
                                                  <ng-template let-row="row" ngx-datatable-cell-template style="border: 1px solid gray">
                                                    <p>{{row.date}}</p>
                                                  </ng-template>
                                              </ngx-datatable-column>
                                            </ngx-datatable>
                                          </div>
                                        </div>
                                  </div>
                                </div>

                                <!-- <mat-action-row>
                                  <button mat-button color="primary" (click)="setStep(0)">return</button>
                                </mat-action-row> -->
                            </mat-expansion-panel>  
                          </mat-accordion>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 100]"></mat-paginator>
          </mat-card-content>
      </mat-card>
  </div>
</div>
