<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-rest-mysql:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="role.war">
      <element id="artifact" artifact-name="spring-boot-rest-mysql:war exploded" />
    </root>
  </artifact>
</component>